*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100vw;
    height: 15vh;
    background-color: rgb(235, 232, 232);
}

 
 
main{
    height: 70vh;
     display: flex;
    align-items: center;
    justify-content: center;
}

.introText{
    font-size: 10vw;
    font-family: 'Lobster', cursive;
    color: rgb(21, 127, 226);
}

footer{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 15vh;
    background-color: rgb(235, 232, 232);
}

footer div{
    margin: 2vh;
}