 *{
    margin: 0;
    padding: 0;
 }

 body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
 }

 .container{
 height: 100vh;
 width: 100vw;
 display: grid;
 grid-template-rows: 45% 45% 10%;
 }

 .main{
   display: grid;
   grid-template-rows: 50% 50%;
 }

 .navBar{
 display: flex;
 justify-content: end;
 align-items: center;
 height:80px;
 margin: 10px;
 }

 .nav{
   
   padding: 1vw;
   height: 70px;
    
 }

 .container .introText{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 9vw;
    font-family: 'Niconne', cursive;
    color: rgb(201, 7, 7);
 }

 .container .shopNow{
    display: flex;
    justify-content: center;
    align-items: start;
 } 

 .container .shopNow button{
width: 30vw;
height: 4vh;
 }

 .footer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 1vw;
 }

 .footer div{
 margin: 0.5vw;
 display: flex;
 justify-content: center;
 align-items: center;
 }
@media (max-width:800px) {
    .container .introText{
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 15vw;
        font-family: 'Niconne', cursive;
     }
}