*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* .trend{
  display: grid;
  grid-auto-flow: column;
 overflow-x: auto;
}

.mediaElement {
    margin: 1vw;
    height: 300px;
    width: 200px;
    background-color: rgb(218, 208, 208);
    display: grid;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(179, 173, 173);
     padding-top: 10px;
}

.mediaElement img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(10, 10, 10);
    padding: 0;
}

p{
    text-align: center;
}

h2{
text-align: center;
}
  */

  .container{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-rows: 7% 20% 55% 20%;
    overflow-x: hidden;
  }

  .nav-bar{
    border: 1px solid black;
    width: 99vw;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-y: hidden;
  }

  .category{
    border: 1px solid black;
    width: 99vw;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
  }

  .category div{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    
  }

  .new-trends{
    border: 1px solid black;
    width: 99vw;
  }

  .magazine{
    border: 1px solid black;
    width: 99vw;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
  }

  .magazine div{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    
  }