 *{
  margin: 0;
  padding: 0;
 }

 body{
  background-color: black;
  }

  .container{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .navBar{
    height: 60px;
    width:  100vw;
    background-color: rgb(107, 95, 95);
  }

  .category{
    display: grid;
    grid-auto-flow:column;
    overflow-x: auto;
    gap: 2px;
    height: 200px;
    width: 100vw;
    margin-top: 5px ;
    overflow-y: hidden;
   
  }

  .category div{
    height: 100%;
    width: 200px;
    /* background-color: rgb(107, 95, 95); */
    margin: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .category div #circle{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   background-color: antiquewhite;
   justify-self: center;
  }

  .category div div{
    color: antiquewhite;
  }

   