 *{
  margin: 0;
  padding: 0;
 }

 body{
  background-color: black;
  font-family: 'Dancing Script', cursive;
  }
 
  h1{
    font-size: 22px;
    margin: 5px;
  }
  .container{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .navBar{
    height: 60px;
    width:  100%;
    background-color: rgb(107, 95, 95);
  }

  .category{
    display: grid;
    grid-auto-flow:column;
    overflow-x: auto;
    height: 200px;
    width: 100%;
    margin-top: 5px ;
    overflow-y: hidden;
    font-size: 20px;
  }

  .category div{
    height: 100%;
    width: 150px;
    margin: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .category div #circle{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   background-color: antiquewhite;
   justify-self: center;
  }

  
  .nom{
    text-decoration: none;
  }

  .category div div{
    color: antiquewhite;
  }


  h1{
    color: antiquewhite;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px 300px 300px;
    margin: 5px;
  }

  .main div{
    height: 500px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 20px;
 
  }

  .main div .image{
    height: 85%;
    background-color: pink;
  }

  .main div .foot{
    background-color: lightsteelblue;
    height: 7%;
    display: flex;
    justify-content: end;
  }
   
  .foot div{
     height:30px ;
     width: 30px;
     display: grid; 
     justify-content:center;
     align-items: center;
     background: transparent;
  }

  .foot div img{
    height:30px ;
    align-self: center;
  }

  .foot :nth-child(1){
     background-image: url(https://img.icons8.com/external-prettycons-flat-prettycons/47/000000/external-like-essentials-prettycons-flat-prettycons.png);
     background-size:  100%;
     background-repeat: no-repeat;
     background-position: center;
    }

    .foot :nth-child(3){
      background-image:url( https://img.icons8.com/fluency/48/000000/desktop-download.png);
      background-size:  100%;
      background-repeat: no-repeat;
      background-position: center;
    }
@media (max-width:500px) {
  .category{
    height: 150px;
  }

  .category div{
    width: 100px;
    text-align: center;
  }

  .category div #circle{
  height: 70px;
  width: 70px;
}
}

@media (max-width:1400px) {
  .main{
    grid-template-columns: 300px 300px 300px;
  }

}

@media (max-width:810px) {
  .main{
    grid-template-columns: 300px 300px;
  }

}


@media (max-width:610px) {
  .main{
    grid-template-columns: 300px;
    margin: 5px;
  }

}